.story-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h3 {
        background-color: #ddd;
        padding: 10px 5px;
        margin: 5px;
    }
}