.btn-container {
    display: flex;
    gap: 15px;
    position: relative;

    a {
        font-size: 24px;
        padding: 15px 1px 0px;
        cursor: pointer;
        color: black;

        &:hover {
            color: #8e8e8e;
            background-color: #fafafa;


        }

        .fa-solid.fa-heart {
            color: #ed4956;
        }

        .fa-paper-plane {
            transform: rotate(30deg);
            margin-top: -3px;
            margin-left: -6px;
            font-size: 20px;
        }
    }

    .saved-btn {
        position: absolute;
        right: 5px;
        font-size: 23px
    }
}