.app-header {
    padding: 10px;


    // .user-info {
    //     // background-color: $clr2;
    //     // padding: 2px 8px;
    //     // padding-left: 100px;

    //     img {
    //         width: 32px;
    //         height: 32px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //     }
    // }

    .user-info .btn-link {}

    nav {
        font-size: .8em;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}